{% load startswith %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if request.get_full_path|startswith:'/ifsc' %}
          <li class="active"><a href="/ifsc/">IFSC Details</a></li>
        {% else %}
          <li class=""><a href="/ifsc/">IFSC Details</a></li>
        {% endif %}

        {% if request.get_full_path|startswith:'/branches' %}
          <li class="active"><a href="/branches/">Bank Branches</a></li>
        {% else %}
          <li class=""><a href="/branches/">Bank Branches</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>